{% extends 'base.html.twig' %}

{% block body %}
    <h1>Souscategorieproduit</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sousCategorieProduit.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ sousCategorieProduit.libelle }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if sousCategorieProduit.created %}{{ sousCategorieProduit.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('souscategorieproduit_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('souscategorieproduit_edit', { 'id': sousCategorieProduit.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
