{% trans_default_domain 'FOSUserBundle' %}

<section class="section-form">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <h2 class="title-form">Change Your Password</h2>
                <span class="hr-form"></span>
                <div class="form-login">
                    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

                    <div class="row">
                        <label class="col-md-3">
                            {{ form_label(form.current_password, 'Current password') }}
                        </label>
                        <div class="col-md-7">
                            {{ form_widget(form.current_password) }}
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-md-3">
                            {{ form_label(form.plainPassword.first, 'New password') }}
                        </label>
                        <div class="col-md-7">
                            {{ form_widget(form.plainPassword.first) }}
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-md-3">
                            {{ form_label(form.plainPassword.second, 'Repeat new password') }}
                        </label>
                        <div class="col-md-7">
                            {{ form_widget(form.plainPassword.second) }}
                        </div>
                    </div>

                    {{ form_widget(form) }}
                    <div class="btn-group">
                        <button type="submit" >Update</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</section><!-- /Signup Area -->

