{% extends '@Evenement/Evenement_Views/base_evenement.html.twig' %}

{% block stylesheets %}
    <style>
        .aff {
            height: 45px !important;
            width: 85px !important;
        }

        .table {
            width: 100% !important;
        }
    </style>
{% endblock %}

{% block home %}
    {{ tag }}
{% endblock %}
{% block content %}

    <div class="container">
        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success">
                {% for msg in app.session.flashBag.get('success') %}
                    <p align="center">{{ msg }}</p>
                {% endfor %}
            </div>
        {% endif %}



    <div class="row">

        <div class="col-lg-10 col-lg-offset-1">
            <div class="table-responsive ">
                <table id="myTable" style="width: 100% !important;"
                       class="table table-bordered table-condensed table-hover table-striped display responsive nowrap">
                    <thead>
                    <tr>
                        <th class="col-md-1 col-xs-1"> Titre</th>
                        <th class="col-md-1 col-xs-1"> Type</th>
                        <th class="col-md-1 col-xs-1"> Capacité</th>
                        <th class="col-md-1 col-xs-1"> Type de réservation</th>
                        <th class="col-md-1 col-xs-1"> Prix</th>
                        <th class="col-md-1 col-xs-1"> Date </th>
                        <th class="col-md-1 col-xs-1"> Durée</th>
                        <th class="col-md-1 col-xs-1"> Localisation </th>
                        <th class="col-md-1 col-xs-1"> Modification </th>

                    </tr>
                    </thead>
                    {% for evenement in evenements %}
                        <tr>
                        <td> {{ evenement.nomEvenement }}</td>
                            <td> {{ evenement.typeEvenement }}</td>
                            <td> {{ evenement.capaciteEvenement }}</td>
                            <td> {{ evenement.typeReservation }}</td>
                            <td>{% if evenement.prixEvenement is null %}
                                    -
                                {% else %}
                                 {{ evenement.prixEvenement }} Dinars
                                 {% endif %}
                            </td>
                            <td> {{ evenement.dateDebutEvenement|date('Y-m-d H:m')  }}</td>
                            <td> {{ evenement.dureeEvenement }}</td>
                            <td> {{ evenement.lieuEvenement }}</td>
                            <td><a href="{{ path('modifier_evenement', {'id':evenement.id}) }}"><img src="https://img.icons8.com/ios-glyphs/20/000000/services.png">  </a>
                                <a href="{{ path('supprimer_evenement', {'id':evenement.id}) }}"> <img src="https://img.icons8.com/material/26/000000/trash.png">
                                </a>
                            </td>
                        </tr>

                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}