@model CloudKids.Domain.Entities.Product
@{
    ViewBag.Title = "add Product";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<head>
    <style>

         .image-upload1 > input {
            display: none;
        }

          .image-upload2 > input {
            display: none;

        }

          
          .image-upload3 > input {
            display: none;
        }


        img {
            width: 180px;
             height: 180px;
             border-radius: 20px;

        }

        input[type=file] {
            padding: 10px;
            background: #2d2d2d;
        }
    </style>

</head>

<section class="pager-section style2">
    <div class="container">
        <div class="pager-cont">
            <div class="page-search">
                <form>
                    <input type="text" name="search" placeholder="Search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div><!--page_details end-->
            <div class="page_links">
                <ul class="user-acc">
                    <li><a href="#" title="">Home</a></li>
                    <li><span>Add Product</span></li>
                </ul>
            </div><!--page_links end-->
        </div><!--pager-cont end-->
    </div>
</section><!--pager-section end-->


@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    @Html.AntiForgeryToken()




    <section class="block2">
        <div class="container">
            <div class="checkout-form">
                <form>
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="billing-details">
                                <h3 class="ck-title">Product</h3>

                                <div class="row">

                                    <div class="col-lg-6">
                                        <div class="form-field">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <span style="color:red">@ViewBag.MessageErreur</span>
                                            <label>Name </label>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                              
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-field">
                                            <label>Quantity </label>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-field">
                                            <label>Price </label>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-6">
                                        <div class="form-field">
                                            <div class="form-group">
                                                <label> Category </label>
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                  

                                    <div class="col-lg-12">
                                        <div class="form-field">
                                            <label>Description </label>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                     


                                </div>



                               

                            </div>

                        </div>
                        <div class="col-lg-7">
                            <div class="billing-details">
                                <h3 class="ck-title">Product</h3>
                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="image-upload1">
                                            <label for="file-input1">
                                                <img id="blah1" src="~/Content/images/resources/defaultProductImage.png" />
                                            </label>
                                            <input id="file-input1" type="file" name="imgFromView1" onchange="readURL1(this);" required />
                                        </div>
                                    </div>



                                    <div class="col-md-4">
                                        <div class="image-upload2">
                                            <label for="file-input2">
                                                <img id="blah2" src="~/Content/images/resources/defaultProductImage.png" />
                                            </label>
                                            <input id="file-input2" type="file" name="imgFromView2" onchange="readURL2(this);" required />
                                        </div>
                                    </div>



                                    <div class="col-md-4">
                                        <div class="image-upload3">
                                            <label for="file-input3">
                                                <img id="blah3" src="~/Content/images/resources/defaultProductImage.png" />
                                            </label>
                                            <input id="file-input3" type="file" name="imgFromView3" onchange="readURL3(this);" required />
                                        </div>
                                    </div>




                                </div>
                            </div><!--form-field end-->
                       
                       

                    </div>

                    <div class="col-lg-12">
                        <div class="form-field">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    </div>


                  

                    @*
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10 text-success">
                                @ViewBag.FileStatus
                            </div>
                        </div>
                    *@
</div>
                </form>
            </div><!--checkout-form end-->
        </div>
    </section>




}

<div>
    <a href='@Url.Action("Index", "Product")' title="" class="form-btn2">Return to shop</a>
</div>



@*

    <section class="block6 remove-btm-gap">
        <div class="container">
            <div class="ret-coust">
                <div class="ret-head">
                    <h3><i class="fa fa-square-o"></i>Returning customer? <a href="#" title="" class="login-dv-open">Click here to login</a></h3>
                </div><!--ret-head end-->
                <div class="cms-login-sec" id="login-div">
                    <p>If you have shopped with us before, please enter your details in the boxes below. If you are a new customer please proceed to the Billing & Shipping section.</p>
                    <form>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-field">
                                    <label for="username">Username or email <span>*</span></label>
                                    <input type="text" name="username" id="username">
                                </div><!--form-field end-->
                            </div>
                            <div class="col-lg-6">
                                <div class="form-field">
                                    <label for="password">Password <span>*</span></label>
                                    <input type="text" name="password" id="password">
                                </div><!--form-field end-->
                            </div>
                            <div class="col-lg-6">
                                <button type="submit" class="form-btn2">Login</button>
                                <div class="rememb-me">
                                    <div class="fgt-sec">
                                        <input type="checkbox" name="cc" id="c1">
                                        <label for="c1">
                                            <span></span>
                                        </label>
                                        <small>Remember me</small>
                                    </div><!--fgt-sec end-->
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sig-status">
                                    <a href="#" title="">Lost your password?</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div><!--cms-login-sec end-->
            </div><!--ret-coust end-->
            <div class="ret-coust">
                <div class="ret-head">
                    <h3><i class="fa fa-square-o"></i>Have a coupon? <a href="#" title="" class="coupan-dv-open"> Click here to enter your code</a></h3>
                </div><!--ret-head end-->
                <div class="cms-login-sec" id="coupan-dv">
                    <form>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-field">
                                    <input type="text" name="coupan" id="coupan" placeholder="Coupan code">
                                </div><!--form-field end-->
                            </div>
                            <div class="col-lg-6">
                                <button type="submit" class="form-btn2 mg">Apply Coupan</button>
                            </div>
                        </div>
                    </form>
                </div><!--cms-login-sec end-->
            </div><!--ret-coust end-->
        </div>
    </section>
*@
@*<section class="block2">
    <div class="container">
        <div class="checkout-form">
            <form>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="billing-details">
                            <h3 class="ck-title">Billing Details</h3>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-field">
                                        <label>FIRST NAME *</label>
                                        <input type="text" name="f-name">
                                    </div><!--form-field end-->
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-field">
                                        <label> LAST NAME * </label>
                                        <input type="text" name="last-name">
                                    </div><!--form-field end-->
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-field">
                                        <label> COMPANY NAME </label>
                                        <input type="text" name="comp-name">
                                    </div><!--form-field end-->
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-field">
                                        <select class="select">
                                            <option>Ukraine</option>
                                            <option>United Kingdom</option>
                                            <option>United States</option>
                                            <option>Vietnam</option>
                                            <option>Ukraine</option>
                                            <option>United Kingdom</option>
                                            <option>United States</option>
                                            <option>Vietnam</option>
                                            <option>Ukraine</option>
                                            <option>United Kingdom</option>
                                            <option>United States</option>
                                            <option>Vietnam</option>
                                            <option>Ukraine</option>
                                            <option>United Kingdom</option>
                                            <option>United States</option>
                                            <option>Vietnam</option>
                                        </select>
                                    </div><!--form-field end-->
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-field">
                                        <label> STREET ADDRESS *</label>
                                        <input type="text" name="address1" placeholder="House number and street name">
                                        <input type="text" name="address2" placeholder="Apartment, suite, unit etc. (optional)">
                                    </div><!--form-field end-->
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-field">
                                        <label> TOWN / CITY * </label>
                                        <input type="text" name="city">
                                    </div><!--form-field end-->
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-field">
                                        <label> STATE / COUNTY * </label>
                                        <input type="text" name="country">
                                    </div><!--form-field end-->
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-field">
                                        <label> POSTCODE / ZIP * </label>
                                        <input type="text" name="post-code">
                                    </div><!--form-field end-->
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-field">
                                        <label> PHONE * </label>
                                        <input type="text" name="phone">
                                    </div><!--form-field end-->
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-field">
                                        <label> EMAIL ADDRESS * </label>
                                        <input type="text" name="email">
                                    </div><!--form-field end-->
                                </div>
                                <div class="col-lg-12">
                                    <div class="crt-btn">
                                        <div class="fgt-sec">
                                            <input type="checkbox" name="cc" id="c2">
                                            <label for="c2">
                                                <span></span>
                                            </label>
                                            <a href="#" title="" class="creat-acnt-btn">Create Account</a>
                                        </div><!--fgt-sec end-->
                                    </div>
                                    <div class="cr-info">
                                        <p>Create an account by entering the information below. If you are a returning customer please login at the top of the page.</p>
                                        <div class="form-field">
                                            <label>CREATE ACCOUNT PASSWORD *</label>
                                            <input type="password" name="password" placeholder="Password">
                                        </div><!--form-field end-->
                                    </div><!--cr-info end-->
                                </div>
                            </div>
                        </div><!--billing-details end-->
                    </div>
                    <div class="col-lg-6">
                        <div class="addition-information">
                            <h3 class="ck-title">Additional Information</h3>
                            <div class="form-field">
                                <label>ORDER NOTES</label>
                                <textarea placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                            </div><!--form-field end-->
                        </div><!--addition-information end-->
                    </div>
                    <div class="col-lg-12">
                        <div class="order-details">
                            <h3 class="ck-title">Your order</h3>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Highlighter Pens 	× 1</td>
                                        <td>£3.49</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>SUBTOTAL</th>
                                        <td><strong>£3.49</strong></td>
                                    </tr>
                                    <tr>
                                        <th>Total</th>
                                        <td><strong>£3.49</strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                            <p>Sorry, it seems that there are no available payment methods for your state. Please contact us if you require assistance or wish to make alternate arrangements.</p>
                        </div><!--order-details end-->
                    </div>
                    <div class="col-lg-12">
                        <div class="submit-bl">
                            <button type="submit" class="form-btn2">Place Order</button>
                        </div><!--submit-bl end-->
                    </div>
                </div>
            </form>
        </div><!--checkout-form end-->
    </div>
</section>*@


<a href="#" title="" class="scrollTop"><i class="fa fa-arrow-up"></i></a>
@section scripts{
<script>



    function readURL1(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah1')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }



    function readURL2(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah2')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    function readURL3(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah3')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

</script>
}